{% extends "security/base.html" %}

{% block content %}
{% if gender is none %}
    {% set gender = "-" %}
{% endif %}
{% if year_of_birth is none %}
    {% set year_of_birth = "-" %}
{% endif %}
{% if hitchhiking_since is none %}
    {% set hitchhiking_since = "-" %}
{% endif %}
{% if origin_string == " " %}
    {% set origin_string = "-" %}
{% endif %}

<h1>User</h1>

Username: {{ username }}<br>
Email: {{ email }}<br>

<h2>Public Profile</h2>

Gender: {{ gender }}<br>
Year of Birth: {{ year_of_birth }}<br>
Hitchhiking Since: {{ hitchhiking_since }}<br>
Origin: {{ origin_string }}<br>
On Hitchwiki:
{% if hitchwiki_username is none %}
-
{% else %}
<a href="https://hitchwiki.org/en/User:{{ hitchwiki_username }}">{{ hitchwiki_username }}</a>
{% endif %}<br>
On Trustroots:
{% if trustroots_username is none %}
-
{% else %}
<a href="https://www.trustroots.org/profile/{{ trustroots_username }}">{{ trustroots_username }}</a>
{% endif %}<br><br>
<a href="/edit-user">Edit your personal data</a><br>
<a href="/?user={{ username }}">See my spots</a><br>
<a href="/logout">Logout</a><br>
<a href="/delete-user" style="color: red;" onclick=" ">Delete my account</a>
{% endblock %}
